

<form action="/square/results">

<label for="user_min">Minimum</label>
<input id="user_min" type="text" placeholder="Minimum" name="user_min">

<div>
<label for="user_max">Minimum</label>
<input id="user_max" type="text" placeholder="Maximum" name="user_max">


</div>
<button>Pick random number</button>

</form>
