
 

<body>
  <div class="form_items">
    <form action="/square/results">

      <div class="label_items">
      <label for="elephant">Enter a number</label>
      </div>

      <div class="label_items">
      <input id="elephant" type="text" placeholder="What number do we want to square?" size="50px" name="elephant">
      </div>

      <div class="button_items">
        <button>Calculate Square</button>
      </div>

    </form>
  </div>
</body>
